@import "./mixins.scss";

@mixin light-theme {
  --theme-color: white;
  --inverted-theme-color: black;
  --footer-color: #aed4f4;
  --picture-blob-color: #a2d9ff;
  --random-blob-color: #0099ff;
  --link-text-color: #2C363F;
  --segment-background-color: #efeff0
}

@mixin dark-theme {
  --theme-color: black;
  --inverted-theme-color: white;
  --footer-color: #273036;
  --picture-blob-color: #00334e;
  --random-blob-color: #16213e;
  --link-text-color: #F1E9DA;
  --segment-background-color: #2b2d2f;
}

:root {
  @include light-theme
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    @include dark-theme
  }
}

[data-theme="light"] {
  @include light-theme
}

[data-theme="dark"] {
  @include dark-theme
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
  text-align: center;
}

@mixin header-common-style {
  width: 100%; 
  height: 80px;
  align-items: center; 
}

body {
  background-color: var(--theme-color);
  min-height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--link-text-color);
  font-weight: bold;
  cursor: pointer;
}

.dynamic-text {
    color: var(--inverted-theme-color)
}

.header {
  @include header-common-style;
  justify-content: space-around;
  display: none; 
  @include m-device {
    display: flex;
  }
}

.hamburger-menu {
  @include header-common-style;
  justify-content: flex-end;
  display: flex; 
  @include m-device {
    display: none;
  }
}

.theme-toggle {
  width: 30px; 
  height: 30px; 
}

.social-svg-container {
  width: 30px; 
  height: 30px; 
  margin-right: 20px;
}

.dynamic-svg {
  fill:var(--inverted-theme-color)
}

.picture-blob {
  fill: var(--picture-blob-color)
}

.random-blob {
  fill: var(--random-blob-color)
}

.dynamic-footer-blob {
  fill: var(--footer-color)
}

.segmented-control-container {
  align-items: center; 
  margin-right: 20px;
  display: none; 
  @include m-device {
    display: flex;
  }
}

.menu-button {
  position: relative;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

@mixin burger-line {
  width: 30px;
  height: 3px;
  background: var(--inverted-theme-color);
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.menu-button__burger {
  @include burger-line
}

.menu-button__burger::before,
.menu-button__burger::after {
  content: '';
  position: absolute;
  @include burger-line
}

.menu-button__burger::before {
  transform: translateY(-8px);
}

.menu-button__burger::after {
  transform: translateY(8px);
}

.menu-button.open .menu-button__burger {
  transform: translate(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-button.open .menu-button__burger::before {
  transform: rotate(45deg) translate(35px, -35px)
}

.menu-button.open .menu-button__burger::after {
  transform: rotate(-45deg) translate(35px, 35px)
}



