@import "./mixins.scss";

$image-container-side-length: 400px;

.hero-section {
    
    display: flex;
    flex-direction: column;
    @include m-device {
        flex-direction: row;
    }
}

.blob {
    margin-top: 50px;
    width: $image-container-side-length;
    height: $image-container-side-length;
}

.image-container {
    position: absolute; 
    width: $image-container-side-length; 
    height: $image-container-side-length;
    display: flex;
    align-items: center;
    justify-content: center;
}

.salutation-text {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    border-right: 2; 
    position: absolute;
    font-family: 'Roboto', sans-serif;
}

.blob-image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blob-image {
    border-radius: 50%; 
    width: 65%;
}

@mixin random-blob-common-styles {
    position: absolute; 
    width: 500px; 
    height: 500px;
}

.random-blob-container {
    @include random-blob-common-styles;
    right: 0; 
    top: 0;
    z-index: -1;
    overflow: hidden;
}

.random-blob {
    @include random-blob-common-styles;
    right: -200px; 
    top: -200px;
}

// .expertise-card {
//     position: relative;
//     display: inline-block;
//     width: 100px;
//     height: 100px;
//     background-color: var(--theme-color);
//     border-radius: 5px;
//     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
//     border-radius: 5px;
//     -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
//     transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
//   }
  
//   .expertise-card::after {
//     content: "";
//     border-radius: 5px;
//     position: absolute;
//     z-index: -1;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
//     opacity: 0;
//     -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
//     transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
//   }
  
//   .expertise-card:hover {
//     -webkit-transform: scale(1.25, 1.25);
//     transform: scale(1.25, 1.25);
//   }
  
//   .expertise-card:hover::after {
//       opacity: 1;
//   }


