.mr-30 {
    margin-right: 30px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-220 {
    margin-top: 220px;
}

.mb-15 {
    margin-bottom: 15px;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.f-1 {
    flex: 1;
}

.fs-20 {
    font-size: 20px;
}

.text-alin-center {
    text-align: center;
}

.pt-50 {
    padding-top: 50px;
}